<html>

<head>
    <title>DataKind-UW Jackson County</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body id="main">
    <div style="padding:12px 20px; justify-content:left;">
        <img src="{{ url_for('static', filename='images/DK_LOGO_R_WHT.svg') }}" class="h-10 block w-auto" />
    </div>
    <main>
        <section class="droparea" id="droparea">
            <i class="far fa-images" style="justify-content: center;"/>
            <form class="my-form">
                <p class="largetext" style="justify-content: left;">Drag and Drop CSV files here</p>
                <input type="file" id="fileElem" name="files" multiple accept="csv/*"
                    onchange="handleFiles(this.files)" style="rgb(149 149 149)">
            </form>
            <form method="POST" action="/run_forecast">
                <input type="button" id="runForecast" value="Forecast Demand" style="rgb(149 149 149)">
            </form>
        </section>
        <section id="logger" style="">
            <h2 align="center">Logging will appear here:</h2>
            <div class="logging_window">
                <pre id="output"></pre>
            </div>
        </section>
        <form method="POST" action="/show_forecast">
            <input type="button" id="showForecast" value="Show Forecast" style="rgb(149 149 149)">
        </form>
    </main>
</body>

</html>
<script>
    $(document).ready(function () {
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}', true);
        xhr.send();
        setInterval(function () {
            output.textContent = xhr.responseText;
        }, 500);
    });
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script
    type=text/javascript> $(function() { $("#runForecast").click(function (event) { $.getJSON('/run_forecast', function(data) { }); return false; }); }); </script>
<script
    type=text/javascript> $(function() { $("#showForecast").click(function (event) { $.getJSON('/show_forecast', function(data) { }); return false; }); }); </script>
<script>
    let dropArea = document.querySelector('.droparea');
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function preventDefaults(e) {
        e.preventDefault()
        e.stopPropagation()
    }

    const highlight = () => dropArea.classList.add("green-border");

    const unhighlight = () => dropArea.classList.remove("green-border");

    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

        ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
        })

    dropArea.addEventListener("drop", handleDrop, false);

    function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files);
    }

    function handleFiles(files) {
        ([...files]).forEach(uploadFile)
    }
    async function uploadFile(file) {
        const url = '/'
        let formData = new FormData()
        console.log(file);

        formData.append("file", file);

        let responseOptions = {
            // headers:{ 'Accept': 'text/csv',
            //         'Content-Type': 'text/csv',
            //         'action': '/',
            //         'name':"files"},
            method: 'POST',
            // mode: "no-cors",
            files: file,
            body: formData
        }
        console.log(responseOptions);

        await fetch(url, responseOptions)
            .then(() => { console.log('Finished'); })
            .catch(() => { /* Error. Inform the user */ })
    }
</script>
<style>

</style>

</html>
